# Obsidian
.obsidian/workspace*
.obsidian/cache
.obsidian/plugins/**/data.json
.obsidian/plugins/**/data/**/*.json
.trash/

# İşletim sistemi
Thumbs.db
desktop.ini
.DS_Store

# Dokümana dahil olmayan dosyalar
_Trailer/
_Web/
